@use"./partials/show.scss";
@use"./partials/index.scss";
@use"./partials/create.scss";
@use"./partials/messages.scss";
@use"./partials/dashboard.scss";
@use "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap";



.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    color: #001632;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 2px 0 rgba(#001632, .2), 0 5px 10px 0 rgba(#001632, .1);
}