


.video-container {
    overflow: hidden;
    width: 100%;
}

video {
    width: 100%;
    height: auto;
    outline: none; 
}

.gift {
    width: 800px;
}

video::-webkit-media-controls {
    display:none !important;
}

video::-webkit-media-controls-panel {
    width: calc(var(--width) + 30px) !important;
}

.sotto-uno {
    margin-top: 200px;
}

.sotto-due {
    margin-top: 150px;
}

.paggina {
    height: 100vh;

}

// .avanti {
//     height: 6vh;
//     margin-bottom: 300px;
// }

// .paggina-pena {
//     height: 100vh;
// }


::-webkit-scrollbar {
    width: 0; 
}

.btn-sotto {
    margin-top: 0;
}


// ::-webkit-scrollbar-thumb {
//     background-color: #888; 
//     border-radius: 4px; 
// }


// ::-webkit-scrollbar-track {
//     background-color: #f1f1f1;
// }

.form-check-input{
    margin-right: 30px;
}

img {
    width: 40px;
}
.file-input-container {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.file-input-label {
    width: 400px;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


.container-dati  {
    width: 800px;
}



form {
    color: #001632;
}



button.btn {
    background-color: #001632;
}

button a {
    // background-color: transparent;
    color: white;
    text-decoration: none;

    
}

.cont-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-check-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.form-check-input {
    margin-top: 10px;
}
