.messages-container {
    color: #001632;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 65%;
    min-height: 65%;
    box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
    margin-top: 300px;
}


.messages-table-container {
    border-radius: 10px;
}

.bg-image {
    background-color: #fff;
}

.img {
    aspect-ratio: 1/1;
    height: 5rem;
}

